{
  "endOfLine": "lf",
  "bracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true
}
